import { Meta, StoryFn } from "storybook-solidjs"
import { ComponentProps } from "solid-js"
import {{pascalCase name}}Component from './{{pascalCase name}}'
import '@src/index.css'; 

export default {
  component: {{pascalCase name}}Component,
} as Meta<typeof {{pascalCase name}}Component>

type ExtraProps = { containerWidth: number }
type StoryProps = ComponentProps<typeof {{pascalCase name}}Component> & ExtraProps

const Template: StoryFn<StoryProps> = (args) => {
  return (
    <div class="p-5" style=\{{ 'max-width': `${args.containerWidth}px` }}>
      <{{pascalCase name}}Component {...args} />
    </div>
  )
}

export const {{pascalCase name}} = Template.bind({})

{{pascalCase name}}.args = {
  // Component Props
  // Extra Props
  containerWidth: 1000,
}
