import { Meta, StoryFn } from "storybook-solidjs"
import { ComponentProps } from "solid-js"
import base from 'paths.macro';
import { atomicDir } from '@lib/helpers'
import {{pascalCase name}}Component from './{{pascalCase name}}'

export default {
  title: `${atomicDir(base)}/{{pascalCase name}}`,
  component: {{pascalCase name}}Component,
} as Meta<typeof {{pascalCase name}}Component>

type ExtraProps = { containerWidth: number }
type StoryProps = ComponentProps<typeof {{pascalCase name}}Component> & ExtraProps

const Template: StoryFn<StoryProps> = (args) => {
  const { containerWidth, ...rest } = args
  return (
    <div class="p-20" style=\{{ 'max-width': `${containerWidth}px` }}>
      <{{pascalCase name}}Component {...rest} />
    </div>
  )
}

export const {{pascalCase name}} = Template.bind({})

{{pascalCase name}}.args = {
  // Component Props
  // Extra Props
  containerWidth: 1000,
}
